<div class="course-card">
    <div class="course-card__image-container">
        {{#if ImageURL}}
            <img src="{{ImageURL}}" alt="Обложка курса {{Title}}" class="course-card__image">
        {{else}}    
            📖
        {{/if}}
    </div>
    <div class="course-card__content">
        <div class="course-card__meta">
            <span class="course-card__level course-card__level--{{Level}}">
                {{LevelRu}}
            </span>
            <span class="course-card__updated-at">
                Обновлено: {{formatDate UpdatedAt}}
            </span>
        </div>
        <h3 class="course-card__title">{{Title}}</h3>
        <p class="course-card__description">{{#if Description}}{{truncate Description 150}}{{else}}Описание курса отсутствует.{{/if}}</p>
        <div class="course-card__stats">
            <div class="course-card__stat">
                <span>📚</span>
                <span>Уроков в курсе: {{LessonsAmount}}</span>
            </div>
        </div>
    </div>
    <div class="course-card__footer">
        <a href="{{Ref}}" class="button">Подробнее</a>
    </div>
</div>
