<header class="page-header">
    {{#if PageHeader.Breadcrumbs}}
        <div class="page-header__breadcrumbs">
            {{#each PageHeader.Breadcrumbs}}
                {{#if this.URL}}
                    <a href="{{this.URL}}">{{this.Text}}</a>
                    {{#unless @last}}
                        <span class="page-header__separator">/</span>
                    {{/unless}}
                {{else}}
                    {{!-- Последний элемент без ссылки --}}
                    <span>{{this.Text}}</span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
    <h1 class="page-header__title">{{PageHeader.Title}}</h1>
</header>
