<!-- templates/pages/categories.hbs -->

{{> partials/page_header PageHeader}}
<section class="category-courses">

    {{#if Categories}}
        <div class="categories-grid">
            {{#each Categories}}
                <section class="categories-grid__column">
                    <a href="/categories/{{this.ID}}/courses" class="categories-grid__title-link">
                        <h2 class="categories-grid__title">{{this.Title}}</h2>
                    </a>

                    {{#if this.TotalCourses}}
                        <div class="categories-grid__count">{{this.TotalCourses}} курсов</div>
                    {{/if}}

                    {{#if this.Courses}}
                        <ul class="categories-grid__courses">
                            {{#each this.Courses}}
                                <li class="categories-grid__course-item">
                                    <a href="/categories/{{../this.ID}}/courses/{{this.ID}}" class="categories-grid__course-link">{{this.Title}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <div class="categories-grid__empty">
                            В этой категории пока нет доступных курсов.
                        </div>
                    {{/if}}

                    {{#if this.HasMoreCourses}}
                        <a href="/categories/{{this.ID}}/courses" class="categories-grid__more-link">
                            Показать ещё
                        </a>
                    {{/if}}
                </section>
            {{/each}}
        </div>
    {{else}}
        <div class="empty-state">
            <p class="empty-state__text">
                Пока нет ни одной категории. Создайте категории через Swagger admin, и они появятся здесь автоматически.
            </p>
        </div>
    {{/if}}
</section>
