<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Личный кабинет{% endblock %}</title>
    <link href="{{ prefix }}/static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      {% include 'includes/sprite.html' %} 
    <!-- Sidebar -->
    <nav class="sidebar">
        <ul class="sidebar__nav">
            <li class="nav-item"> 
                <a class="nav-link" href="{{ prefix }}/statistics">
                    <svg viewBox="0 0 24 24" class="nav-link--icon">
                        <use href="#chart"></use>
                    </svg>
                    <p>Статистика</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ prefix }}/profile">
                   <svg viewBox="0 0 24 24" class="nav-link--icon">
                        <use href="#profile"></use>
                    </svg>
                    <p>Профиль</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ prefix }}/certificates">
                    <svg viewBox="0 0 24 24" class="nav-link--icon">
                        <use href="#certificate"></use>
                    </svg>
                    <p>Сертификаты</p>
                </a>
            </li>
        </ul>
        
        <div class="sidebar__logout">
            <form action="{{ prefix }}/api/v1/auth/logout" method="post">
                <button class="nav-link" id="sidebar__logout--button" type="submit">
                    <svg viewBox="0 0 24 24" class="nav-link--icon">
                        <use href="#logout"></use>
                    </svg>
                    <p>Выйти</p>
                </button>
            </form>
        </div>
    </nav>
    </div>

    <!-- Main Content -->
    <div class="main-content">  
        <!-- Page Content -->
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    
    <script>
       //document.querySelector('#sidebar__logout--button').addEventListener('click', async (event) => {
        //event.preventDefault();

        //try {
            //const response = await fetch('/auth/logout', {
                //method: 'POST',
                //headers: {
                    //'Content-Type': 'application/json',
                //},
                //body: JSON.stringify({}),
            //});

            //if (response.ok) {
            //    window.location.href = '/';
            //} else {
                //console.error('Logout failed');
            //}
        //} catch (error) {
           // console.error('Error during logout:', error);
        //}
    //});
    </script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>
